
.container-fluid{
  margin-left: -20px;
  background-color: gainsboro;
  min-height: -webkit-fill-available;
}
.nav{
  padding-left: 50px;
}
li{
  float: left;
}
.left-menu{
  border-right: 2px solid black;

}
#main {
    margin-top: 40px;
    transition: margin-left .5s;
    padding: 20px;
}
.sidenav {
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #222; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav button {
  background-color: inherit;
  border-bottom: 2px solid white;
  height: 70px;
  font-size: 1.5em;
}
.sidenav a {
  text-decoration: none;
  color: white;
}
.btn:focus, .btn:active:focus{
  outline: none;
}

.clicked{
  background-color: #080808 !important;
}
#hamburder-icon{
  margin-right: 20px;
  color: white;
  height: 50px;
  width: 40px;
  margin-top:5px;
}
#hamburder-icon img{
  margin-top: 10px;
  max-width:100%;
  max-height:100%;
}
.full-heigth{
  height: 100%;
}
.center-content{
  text-align:-webkit-center;
}
#single-preview{
  width: 100%;
  background : black;
  position: absolute;
  z-index: 5;
  display: none;
}
table th{
  border:2px solid black;
}
table td{
  border: 1px solid black;
}
th, td{
  padding: 5px;
}
#mainTable{
  margin-left:50px;
  width:90%;
}
#add-form{
  margin-left:50px;
  margin-top:30px;
}
.carousel-indicators{
  margin: 0 auto;
  z-index:4;
}
